@import url('https://fonts.googleapis.com/css2?family=Borel&family=Edu+SA+Beginner:wght@400;600;700&family=Poppins:wght@200;300;400;500;600;800&family=Sedgwick+Ave+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
}

.font-edu {
  font-family: Edu SA Beginner;
}
.font-sed {
  font-family: Sedgwick Ave Display;
}
.font-borel {
  font-family: Borel;
}
.form-gradient {
  background: linear-gradient(45deg, rgba(161,162,171,1) 5%, rgba(115,115,115,1) 23%, rgba(0,0,0,1) 100%, rgba(59,63,64,1) 100%);
}